.container {
  max-width: 1200px;
  margin: auto;
}
* {
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
}
tr {
  border: black solid 1px;
}
.odd {
  background-color: #c2c2c2;
}
td:first-child {
  padding: 1em;
  padding-right: 17px;
  padding-left: 2em;
}
td > p {
  padding-left: 1em;
}
td > h3,
td > p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.tds {
  font-family: Helvetica, sans-serif;
  width: 20%;
  border: black solid 1px;
  height: 120px;
  /* background-image: -o-repeating-linear-gradient(
    left,
    transparent 0,
    transparent calc(25% - 1px),
    black calc(25% - 1px),
    black 25%
  );
  background-image: repeating-linear-gradient(
    to right,
    transparent 0,
    transparent calc(25% - 1px),
    black calc(25% - 1px),
    black 25%
  ); */
  position: relative;
}
.bar {
  position: absolute;
  height: 18px;
  width: 86%;
  text-align: right;
  left: 0px;
  padding-right: 2px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    to(rgba(0, 0, 0, 0.8))
  );
  z-index: 50;
}
.bar.blue {
  background-color: blue;
}
.bar.red {
  background-color: red;
}
.bar.green {
  background-color: green;
}
.bar.orange {
  background-color: orange;
}
.bar.yellow {
  background-color: yellow;
}
.bar.violet {
  background-color: rgb(167, 11, 167);
}
.letter {
  position: absolute;
  left: -16px;
}
.number {
  color: white;
}
.line {
  position: absolute;
  /* width: 100%; */
  height: 100%;
  border-right: solid 1px #000;
  top: 0;
  left: 0;
}
.line:nth-of-type(1) {
  width: 25%;
}
.line:nth-of-type(2) {
  width: 50%;
}
.line:nth-of-type(3) {
  width: 75%;
}
table {
  page-break-inside: auto;
}
tr {
  page-break-inside: avoid;
  page-break-after: auto;
}
